body
{
    padding: 10px;
}

.box
{
    display: block;
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 0 auto 25px;
    text-align: center;
    line-height: 100px;
}

.container:hover .box
{
    width: 300px;
}

.transbox-1
{
    /* transition-property: all; ist der default wert, der alle optionen transitieren soll. */
    transition-property: all;
    transition-duration: 0.5s;
}

.box-linear
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.box-ease
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.box-ease-in
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

.box-ease-out
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.box-ease-in-out
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.box-instant
{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.box-delay-1
{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
}

.box-delay-2
{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}

.container:hover .box-mix-1,
.container:hover .box-mix-2,
.container:hover .box-all
{
    background-color: lime;
    color:purple;
}

.box-mix-1
{
    transition-property: width, background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.box-mix-2
{
    transition-property: width, background-color, color;
    transition-duration: 1s, 15s, 2s;
    transition-timing-function: linear;
}

.box-all
{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.box-short-1:hover
{
    background-color: lime;
}

.box-short-1
{
    /*       property duration function delay*/
    transition: all 1s linear 1s;
}

.box-short-multi
{
    transition: 
        width  1s linear,
        background-color 1s ease-in 10s,
        border-radius 0.5s linear 2s;
}

.box-short-multi:hover
{
    width: 150px;
    background-color: lime;
    border-radius: 50%;
}