*
{
    box-sizing: border-box;
}

body
{
    padding: 10px;
}

img
{
    display: block;
    margin: 10px auto;
}

.circle
{
    clip-path: circle(100px);
}

.circle-2
{
    clip-path: circle(200px at 100% 0);
    /*                   horizontal vertikal */
}

.ellipse
{
    clip-path: ellipse(100px 30px);
    /*             horizontal vertikal */
}

.polygon
{
    clip-path: polygon(
        /* horizontal vertikal */
        80%             0%,
        0%             90%,
        100%           50%
    );
}