main
{
    height: 100vh;
    font-size: 32px;
}

.container
{
    display: flex;
}

.horizontal
{
    flex-direction: column;
}

.vertical
{
    flex-direction: row;
}

.small
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}

.big
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
}

.small
{
    background-color: plum;
}

.container .vertical
{
    background-color: tomato;
    border: 4px solid blue;
}

.container .vertical .small
{
    background-color: lime;
}

@media (min-width: 610px)
{
    .horizontal
    {
        flex-direction: row;
    }
    .vertical
    {
        flex-direction: column;
    }
}

@media (min-width: 650px)
{
    .horizontal
    {
        flex-direction: column;
    }
    .vertical
    {
        flex-direction: row;
    }
}